.article .topics {
  color: grey;
}
.article .headline {
  display: inline-block;
  margin: 10px 0;
  font-size: clamp(20px, 10vw, 40px);
}
.article .image {
  max-width: 300px;
}
.article .image img {
  width: 100%;
}
.article .content {
  line-height: 160%;
}
.article .content a:not(:hover) {
  text-decoration: none;
}
.article .content blockquote {
  display: inline-block;
  margin-right: 0;
  margin-left: clamp(0px, 4vw, 40px);
  padding: 10px;
  border-left: 10px solid #553b58;
  background-color: #25262b;
}
