<h1 class="header">
  {{>STYLE name="header"}}

  <a href={{>URL}} title="The most honest news source">
    <span class="the">the</span>
    <span class="trustworthy">Trustworthy</span>
    <span class="times">Times</span>
  </a>
</h1>