{{!-- 'Trustworthy Times' header --}}
<h1 class="header">
  {{>STYLE name="header"}}

  <div class="size">
    {{!-- Main header --}}
    <a href={{>URL}} title="The most honest news source" class="link">
      <span class="top">the</span>
      <span class="middle">Trustworthy</span>
      <span class="bottom">Times</span>
    </a>

    {{!-- Skip to main content --}}
    <a class="skip" tabIndex="0" href="#main">Skip to Content</a>
  </div>
</h1>