.article {
  margin: 20px;

  .meta {
    .topics {
      color: grey;
      font-weight: bold;

      span {
        &:not(:first-of-type) {
          margin-left: 10px;

          &::before {
            content: "/";
            margin-right: 10px;
            font-weight: normal;
            color: #754975;
          }
        }

        @media (max-width: 400px) {
          display: block;

          &:not(:first-of-type) {
            margin-left: 0px;
          }
        }
      }
    }

    .headline {
      display: inline-block;
      margin: 10px 0;
      font-size: clamp(20px, 10vw, 40px);
    }

    .stats {
      margin-top: 0;
      font-size: 110%;
      color: #aaa;

      > span {
        margin-right: 15px;

        .icon {
          margin-right: 0;
          color: #8b6491;
        }

        @media (max-width: 400px) {
          display: block;

          .icon {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .image {
    max-width: 300px;

    img {
      width: 100%;
    }
  }

  .content {
    line-height: 160%;

    a:not(:hover) {
      text-decoration: none;
    }

    blockquote {
      display: inline-block;
      margin-right: 0;
      margin-left: clamp(0px, 4vw, 40px);
      padding: 10px;
      border-left: 10px solid #553b58;
      background-color: #25262b;
    }
  }
}
