.article {
  margin: 20px;

  .meta {
    .topics {
      color: grey;
      font-weight: bold;

      span {
        &:not(:first-of-type) {
          margin-left: 10px;

          // Slash to separate topics
          &::before {
            content: "/";
            margin-right: 10px;
            font-weight: normal;
            color: #754975;
          }
        }

        // Vertical
        @media (max-width: 400px) {
          display: block;

          &:not(:first-of-type) {
            margin-left: 0px;
          }
        }
      }
    }

    .headline {
      display: inline-block;
      margin: 10px 0;
      font-size: clamp(20px, 10vw, 40px);
    }

    .stats {
      margin-top: 0;
      font-size: 110%;
      color: #aaa;

      > span {
        margin-right: 15px;

        .icon {
          margin-right: 0;
          color: #8b6491;
        }

        // Vertical
        @media (max-width: 400px) {
          display: block;

          .icon {
            margin-right: 5px;
          }
        }
      }
    }
  }

  // Container for article image
  .image {
    // Fill width
    @media (min-width: 1000px) {
      float: right;
      max-width: 40%;
      margin-top: -30px;
    }

    // Image
    // Centered in container
    img {
      display: block;
      max-width: Min(100%, 500px);
      margin: auto;
      border-radius: 3px;

      // Smaller
      @media print {
        max-width: Min(100%, 300px);
      }

      // Fancy effects
      transition: transform 0.2s;
      &:hover {
        transform: scale(0.99);
      }
    }
  }

  .content {
    line-height: 160%;

    a:not(:hover) {
      text-decoration: none;
    }

    blockquote {
      display: inline-block;
      margin-right: 0;
      margin-left: clamp(0px, 4vw, 40px);
      padding: 10px;
      border-left: 10px solid #553b58;
      background-color: #25262b;
    }

    .purple {
      color: #8b6491;
    }

    code {
      padding: 0 3px 1px 3px;
      font-size: 120%;
      background-color: #b5394430;
      color: #ce4c59;
    }
  }
}
