@font-face {
  font-family: Footlight;
  src: local("Footlight"), url(../font/Footlight.woff2);
}

html,
body {
  background-color: #131516 !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  color: white;
}

a {
  color: inherit;
}
