.header {
  margin: 10px;
  font-size: clamp(34px, calc(19.5vw - 6px), 71px);
  font-family: Footlight, "Times New Roman", Times, serif;
  font-weight: normal;
}
.header .size {
  position: relative;
  max-height: 120px;
  min-height: 50px;
  aspect-ratio: 3/1;
}
.header .size:focus-within .middle {
  visibility: hidden;
}
.header .size .link {
  display: block;
  height: 100%;
}
.header .size .link:focus {
  outline: none;
}
.header .size .link:focus span {
  text-decoration: underline;
}
.header .size .link:focus .middle {
  visibility: visible;
}
.header .size .link span {
  position: absolute;
  transform: translate(-50%, -50%);
}
.header .size .link span.top {
  left: 20%;
  top: 11%;
  font-size: 50%;
  color: #8b6491;
}
.header .size .link span.middle {
  left: 50%;
  top: 37%;
  color: #e2cfe8;
}
.header .size .link span.bottom {
  left: 56%;
  top: 82%;
  color: #754975;
}
.header .size .skip {
  position: absolute;
  display: block;
  top: 13%;
  font-size: 80%;
  white-space: nowrap;
  color: #e2cfe8;
}
.header .size .skip:not(:focus-within) {
  opacity: 0;
  pointer-events: none;
}
.header .size .skip:focus {
  outline: none;
}
