.header {
  margin: 10px;

  // Closest estimate - possibly cannot be perfect without javascript
  font-size: clamp(34px, calc(19.5vw - 6px), 71px);
  font-family: Footlight, "Times New Roman", Times, serif;
  font-weight: normal;

  .size {
    position: relative;

    // Size to fit in screen, and maintain aspect ratio
    max-height: 120px;
    min-height: 50px;
    aspect-ratio: 3/1;

    // Hide 'Trustworthy' when 'Skip to Content' is focused
    &:focus-within {
      .middle {
        visibility: hidden;
      }
    }

    // Main header link
    .link {
      display: block;
      height: 100%;

      &:focus {
        outline: none;

        span {
          text-decoration: underline;
        }

        // Override previous `visibility: hidden` when main link focused
        .middle {
          visibility: visible;
        }
      }

      // Top, middle, and bottom texts
      span {
        position: absolute;

        transform: translate(-50%, -50%);

        // 'the'
        &.top {
          left: 20%;
          top: 11%;

          font-size: 50%;
          color: #8b6491;
        }

        // 'Trustworthy'
        &.middle {
          left: 50%;
          top: 37%;

          color: #e2cfe8;
        }

        // 'Times'
        &.bottom {
          left: 56%;
          top: 82%;

          color: #754975;
        }
      }
    }

    // 'Skip to Content' button
    .skip {
      position: absolute;
      display: block;
      top: 13%;
      font-size: 80%;
      white-space: nowrap;
      color: #e2cfe8;

      // Hide when not focused
      &:not(:focus-within) {
        // Must be opacity, not visibility or display, to allow tab focusing
        opacity: 0;
        // Stops activating when click on main link
        pointer-events: none;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
